<h1>Stupid Coaching</h1>

<div class="container">
  <p>Say something to coach:</p>

  <form action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
